@model IEnumerable<RestaurantDL.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="card">
        <div class="card-body">
            <h1>Welcome to Revature Eats!</h1>
            <p class="lead">A restaurant review site</p>
        </div>
    </div>
</div>
<h2 class="text-center">Top 3 Restaurants</h2><hr />
<div class="row">
@foreach(var item in Model)
{
<div class="col-sm-4"><h3>@item.name</h3><b>Average Rating:</b> @item.AvgRating</div>
}
</div>